<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license. -->
<!-- See LICENSE in the project root for license information -->

<!DOCTYPE html>
<html ng-app="CryptoCurrenciesTracker">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CryptoCurrenciesTracker</title>

    <!-- Office JavaScript API -->
    <script type="text/javascript" src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.debug.js"></script>

    <script type="text/javascript" src="node_modules/core-js/client/core.js"></script>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/office-ui-fabric-js/dist/js/fabric.js"></script>

    <!-- LOCAL not angular so i comment-->
    <!--<link rel="stylesheet" href="node_modules/angular/angular-csp.css" />-->
    <!--<link rel="stylesheet" href="node_modules/office-ui-fabric-js/dist/css/fabric.min.css" />-->
    <!--<link rel="stylesheet" href="node_modules/office-ui-fabric-js/dist/css/fabric.components.css" />-->

    <link rel="stylesheet" href="node_modules/office-ui-fabric-js/dist/css/fabric.min.css" />
    <link rel="stylesheet" href="node_modules/office-ui-fabric-js/dist/css/fabric.components.css" />
    <script src="/node_modules/ng-office-ui-fabric/ngOfficeUiFabric.js"></script>

    <!-- CDN -->
    <!-- For the Office UI Fabric, go to http://aka.ms/office-ui-fabric to learn more. -->
    <!--<link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css" />-->
    <!--<link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css" />-->

    <!-- Template styles -->
    <link href="app.css" rel="stylesheet" type="text/css" />
</head>

<body class="ms-font-m ms-welcome">
    <header class="ms-welcome__header ms-bgColor-neutralLighter ms-u-fadeIn500">
        <img width="90" height="90" src="assets/logo.png" alt="CryptoCurrenciesTracker" title="CryptoCurrenciesTracker" />
        <h1 class="ms-fontSize-su ms-fontWeight-light ms-fontColor-neutralPrimary">Crypto Tracker</h1>
    </header>
    <main class="ms-welcome__main" >
        <!--<p class="ms-font-l">Modify the source files, then click <b>Run</b>.</p>-->
        <!--<button class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" ng-click="home.run()">-->
        <!--</button>-->
        <div ng-controller="CryptoController">
            <h1>Add new binding</h1>
            Choose the exchange
            <uif-dropdown ng-model="_selectedExchange">
                <uif-dropdown-option value="{{value}}" ng-repeat="(key, value) in _exchanges" title="{{value}}">{{value}}</uif-dropdown-option>
            </uif-dropdown>
            Choose the currency/fiat
            <uif-dropdown ng-model="_selectedPair">
                <uif-dropdown-option value="{{value}}" ng-repeat="(key, value) in _currenciesPairs" title="{{value}}">{{value}}</uif-dropdown-option>
            </uif-dropdown>
            Select the cell you want to bind and click Add
            </br>
            <button type="button" class="ms-Button" ng-click="getValue()" class="btn btn-primary">Add</button>
            </br>
            <h1>Update all bindings</h1>
            <button type="button" class="ms-Button" ng-click="updateBindings()" class="btn btn-primary">Update</button>
            <h1>Clear all bindings</h1>
            <button type="button" class="ms-Button" ng-click="clearBindings()" class="btn btn-primary">Clear</button>
            </br>DEBUG:VERSION:{{_version}}
        </div>
    </main>

    <script type="text/javascript" src="app.js"></script>
</body>

</html>